.row
  .small-12.columns
    %h1.text-center Reset Password
    =form_for(@user, url: password_reset_path(params[:id])) do |f|
      .form-errors
        -if @user.errors.present?
          .callout.alert
            %ul
              -@user.errors.messages.each do |attribute, messages|
                %li
                  %strong
                    =attribute.to_s.humanize
                  ="#{messages.to_sentence}."
      .form-inputs
        =hidden_field_tag :email, @user.email
        %fieldset
          =f.label :password
          =f.password_field :password
        %fieldset
          =f.label :password_confirmation
          =f.password_field :password_confirmation
      .form-actions
        =f.submit "Update Password", class: "button"
