#react-app
/ .row
/   .small-12.columns
/     %h1.text-center.top-padded Forgot Password
/     =form_for :password_reset, url: password_resets_path do |f|
/       .form-inputs
/         %fieldset
/           =f.label :email
/           =f.text_field :email
/       .form-actions
/         =f.submit "Reset Password", class: "button"
