.row
  .small-12.columns
    %h1.text-center
      =@user.handle
    =form_for @user do |f|
      .form-inputs
        %fieldset
          =f.label :email
          =f.email_field :email
        .row
          .small-12.medium-6.columns
            %fieldset
              =f.label :first_name
              =f.text_field :first_name, label: "First Name"
          .small-12.medium-6.columns
            %fieldset
              =f.label :last_name
              =f.text_field :last_name, label: "Last Name"
        %fieldset
          =f.label :current_password
          =f.password_field :password
      .form-actions
        =f.submit "Update", class: "button"
