.row
  .small-12.columns
    %h1.text-center.top-padded Polity
    .callout
      %p
        %strong Polity
        is the single sign-on provider for all apps hosted at enthusiastick.io &ndash; your one user account here at
        %strong Polity
        is used to authenticate you to sites, experiments and web-toys found throughout the domain.
      -if user_signed_in?
        %p
          Welcome back, #{current_user.first_name}.
      -else
        %p
          If you're new to
          %strong Polity,
          you can
          =link_to "sign up here.", sign_up_path
